<div class="container">
    <div class="form">
        <form #formContact="ngForm" (submit)="onSubmit(formContact)">
            <div class="labels-container overflow">
                <label class="text-bottom-to-top-all" for="name">What is your name</label>
            </div>
            <input 
                class="inputs fade-text" 
                type="text"
                name="nameContact"
                #nameContact
                id=""
                placeholder="Name"
                [(ngModel)]="name">
            <div class="labels-container overflow">
                <label class="text-bottom-to-top-all" for="email">What is your email</label>
            </div>
            <input 
                class="inputs fade-text"
                type="text"
                name="emailContact"
                #emailContact
                id=""
                placeholder="Email"
                [(ngModel)]="email">
            <div class="labels-container overflow">
                <label class="text-bottom-to-top-all" for="message">Type your message</label>
            </div>
            <textarea
                class="inputs fade-text"
                name="messageContact"
                #messageContact
                id="input-message"
                placeholder="Message"
                [(ngModel)]="message">
            </textarea>
            <input mat-stroked-button type="submit" value="Send Message" class="btn-pink fade-text cursor-border">
        </form>
    </div>
</div>

<app-footer></app-footer>