<div class="container cursor-purple">
    <div class="card">
        <section id="content-about-top">
            <img src="./assets/img/me-two(2).svg" alt="Salvador Solis">
            <div class="h1">
                <h1>Andy Macias</h1>
            </div>
            <div class="h2">
                <h2>Web Developer</h2>
            </div>
        </section>
        <div id="description-about">
            <p class="description-p">
                I am a Front-end developer in web technologies with knowledge of Back-end. I like to improve my skills and to collaborate and discuss in a team.
            </p>
            <p class="description-p">
                Personally, I identify myself as someone extroverted, always looking to do quality and organized work.
            </p>
            <p class="description-p">
                I love new innovative technologies to be able to learn and know them, I am always excited to be curious about new topics. In addition, I always try to have clear goals and achieve them, in order to always remain in constant personal growth.
            </p>
        </div>
    </div>
</div>
<app-footer></app-footer>
