@import "../../../assets/styles/imports";
@import "../../../assets/styles/variables";

@media (max-width: 800px){

    .container{

        section{
            display: grid;
            align-items: center;
            justify-content: center;
            text-align: center;
            grid-template-columns: 1fr 2fr;
            grid-template-rows: 1fr 1fr;

            img{
                margin: 0px auto;
                grid-row: 1/3;
                grid-column: 1/2;
                width: 100px;
                height: 100px;
                border-radius: 50%;
                opacity: 0;
                animation: show_img 2s ease forwards;
            }
            @keyframes show_img {
                to{
                    opacity: 1;
                }
            }
            .h1{
                overflow: hidden;
                grid-row: 1/2;
                grid-column: 2/3;
                align-self: flex-end;
                padding-bottom: 10px;

                h1{
                    font-family: $WorkSans;
                    font-weight: 600;
                    color: $white;
                    font-size: 20px;
                    transform: translateY(100px);
                    animation: show_text_trans 1s ease forwards 400ms;
                }
            }
            .h2{
                padding-top: 10px;
                width: 0%;
                height: 50px;
                margin: 0px auto;
                border-top: 3px solid $pink;
                grid-row: 2/3;
                grid-column: 2/3;
                overflow: hidden;
                animation: show_border 1s ease forwards;
                
                h2{
                    display: block;
                    // width: 80%;
                    font-family: $Ubuntu;
                    font-weight: 400;
                    color: $white;
                    font-size: 18px;
                    transform: translateY(100px);
                    animation: show_text_trans 1s ease forwards 400ms;
                }
                @keyframes show_text_trans {
                    to{
                        transform: translateY(0px);
                    }
                }
            }
            @keyframes show_border {
                to{
                    width: 80%;
                }
            }
        }
        #description-about{
            opacity: 0;
            animation: show_pa 2s ease forwards;

            .description-p{
                margin-bottom: 0;
                margin: 30px 0px;
                line-height: 27px;
                color: $white;
                font-family: $Ubuntu;
                font-size: 15px;
                text-align: justify;
            }
        }
        @keyframes show_pa {
            to{
                opacity: 1;
            }
        }
    }
}

@media (min-width: 800px){
    .container{
        overflow: hidden;
        
        .card{
            background: white;
            padding: 30px 50px;
            border-radius: 30px;
            box-shadow: 4px 4px 10px #555;
            opacity: 0;
            animation: show_card 1.5s ease-in-out forwards;

            section{
                display: grid;
                grid-template-columns: 1fr 1fr 220px;
                grid-template-rows: 1fr;
                align-items: center;
        
                img{
                    grid-column: 3/4;
                    grid-row: 1;
                    justify-self: end;
                    float: right;
                    width: 200px;
                    height: 200px;
                    border-radius: 50%;
                }
                .h1{
                    grid-column: 1/2;
                    grid-row: 1;
                    overflow: hidden;
                    justify-self: right;
                    padding-right: 30px;
                    height: 100px;
                    border-right: 3px solid $pink;
                    
                    h1{
                        font-family: $WorkSans;
                        font-weight: 600;
                        color: $dark-blue;
                        line-height: 100px;
                        font-size: 36px;
                    }
                }
                .h2{
                    grid-column: 2/3;
                    height: 100px;
                    grid-row: 1;
                    justify-self: left;
                    padding-left: 30px;

                    h2{
                        line-height: 100px;
                        display: block;
                        font-family: $Ubuntu;
                        font-weight: 400;
                        color: $dark-blue;
                        font-size: 30px;
                    }
                }
            }
        

            #description-about{

                .description-p{
                    margin: 30px 0px;
                    line-height: 27px;
                    color: $dark-blue;
                    font-family: $Ubuntu;
                    font-size: 18px;
                    text-align: justify;
                }
            }
        }
        @keyframes show_card {
            to{
                opacity: 1;
            }
        }
    }
}

@media (max-width: 1360px) and (min-width: 800px){
    .container{
        
        .card{

            section{
                grid-template-rows: 1fr 1fr;
                grid-template-columns: auto 220px;

                img{
                    grid-row: 1/3;
                    grid-column: 2;
                }
                .h1{
                    overflow: visible;
                    grid-row: 1;
                    grid-column: 1;
                    border: none;
                    border-bottom: 3px solid $pink;
                    justify-self: center;
                    width: 100%;
                    padding: 0;
                    
                    h1{
                        font-size: 30px;
                        text-align: center;
                        display: block;
                        height: 100%;
                    }
                    
                }
                .h2{
                    grid-row: 2;
                    grid-column: 1;
                    height: 100px;
                    justify-self: center;
                    padding: 0;
                    
                    h2{
                        font-size: 24px;
                        text-align: center;
                    }
                    
                }
            }
        }
    }
}