@import "../../../assets/styles/imports";
@import "../../../assets/styles/variables";

footer{
    position: relative;
}

@media (max-width: 1090px){

    footer{
        margin: 20px 0px;
        padding-bottom: 40px;
        padding-top: 20px;

        .social-media{
            margin: 0px auto;
            display: grid;
            justify-content: center;
            grid-template-rows: auto;
            grid-template-columns: 50px 50px 50px;
            align-items: center;
            
            .icons{
                display: block;
                
                .icons-footer{
                    width: 40px;
                }
            }
            a:nth-child(1){
                grid-column: 1/2;
            }
            a:nth-child(2){
                grid-column: 2/3;
            }
            a:nth-child(3){
                grid-column: 3/4;
            }
            .email{
                display: block;
                color: white;
                font-family: 'Ubuntu', sans-serif;
                writing-mode: horizontal-tb;
                text-decoration: none;
            }

            

        }
    }
}

@media (min-width: 1091px){
    footer{
        position: fixed;
        top: 0;
        bottom: 0;
        right: 20px;
        margin: auto;
        height: 150px;
    
        .social-media{
            display: grid;
            grid-template-rows: 50px 50px 50px;
            grid-template-columns: 50px;
            align-items: center;
            
            .icons{
                justify-self: center;
                display: block;
                // margin: 10px 20px;
                
                .icons-footer{
                    width: 40px;
                    transition: all 300ms;
                }
    
                .icons-footer:hover{
                    transform: scale(1.2);
                    transition: all 300ms;
                }
            }
            .email{
                justify-self: center;
                grid-column: 1/2;
                grid-row: 3/4;
                display: block;
                color: white;
                font-family: 'Ubuntu', sans-serif;
                writing-mode: vertical-lr;
                text-decoration: none;
                display: block;
                width: 40px;
                line-height: 40px;
            }
            
        }
    }    
}
