<div class="container">
    <div class="home">
        <div class="title">
            <h1>
                <p class="line anim-typewriter">Hello World! I'm Andy macias</p>
            </h1>
        </div>
        <div class="subtitle overflow">
            <h2 class="text-bottom-to-top-all-3500ms">Passionate Developer</h2>
        </div>

        <p id="text-p">
            I am a web developer from Santa Cruz Bolivia, systems engineer, passionate about technology💞, coffee lover☕ and the music Queen group👑.
            <span>
                Find more <a [routerLink]="['/about']" class="cursor-border">about me</a>
            </span>
        </p>
        
        <div class="profile-image">
            <img src="./assets/img/me-one.jpg" alt="Salvador Solis">
        </div>
        
        <a routerLink="/work" id="btn-contact" class="btn-pink cursor-border btn">
            My projects
        </a>
    </div>
</div>
<app-footer></app-footer>