<div class="container">

    <div class="card" *ngFor="let i of skill">
        <div class="img">
            <img src="./assets/img/icons/{{i.img}}.png" alt="">
        </div>
        <div class="title">
            <h1>{{i.skill}}</h1>
        </div>
        <!-- <div class="percent {{i.level}}"></div>
        <div class="percent-bg"></div>
        <p class="text text-ubuntu text-percent">
            {{i.level | split: "-":1}}%
        </p> -->
        <!-- <div class="cursor-border water popover" title="{{i.description}}">
            <div class="waves {{i.level}}">
            </div>
        </div> -->
        <!-- <div class="description">
            <p>{{i.description}}</p>
        </div> -->
    </div>
</div>

<app-footer></app-footer>