@import "./assets/styles/imports";
@import "./assets/styles/variables";

*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body{
    cursor: url('../src/assets/img/cursor/cursor-custom.svg'), auto;
    background: $background;
    transition: all 300ms;
}

//Buttons
.btn-pink{
    font-family: $WorkSans;
    background: $pink;
    display: block;
    padding: 0px 10px;
    width: 150px;
    height: 50px;
    line-height: 50px;
    text-decoration: none;
    color: $white;
    text-align: center;
    text-transform: uppercase;
    border-radius: 5px;
    border: 1px solid $pink;
    transition: all 600ms;
}
.btn-pink:hover{
    transition: all 600ms;
    scale: 1.1;
    background: transparent;
}
.btn-blue{
    font-family: $WorkSans;
    background: $blue;
    display: block;
    padding: 0px 10px;
    min-width: 150px;
    height: 50px;
    line-height: 50px;
    text-decoration: none;
    color: $white;
    text-align: center;
    border-radius: 5px;
    border: 1px solid $blue;
    transition: all 600ms;
    text-transform: uppercase;
}
.btn-blue:hover{
    transition: all 600ms;
    scale: 1.1;
    background: transparent;
}

//Texts
.text{
    color: white;
}
.text-ubuntu{
    font-family: $Ubuntu;
}

//Cursors
.cursor-border{
    cursor: url('./assets/img/cursor/cursor-custom-border.svg'), auto;
}
.cursor-purple{
    cursor: url('./assets/img/cursor/cursor-custom-purple.svg'), auto;
}

//Media queries
@media (max-width:800px){
    .container{
        margin: 0px auto;
        width: 90%;
        margin-top: 100px;
        position: relative;
        z-index: 0;
    }

    .btn-blue{
        min-width: 150px;
        height: auto;
        padding: 0px 0px;
    }
}

@media (min-width:800px){
    .container{
        margin: 0px auto;
        margin-top: 100px;
        margin-bottom: 100px;
        width: 70%;
        padding: 0px 30px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media screen and (max-width: 1090px) and (min-width: 800px){
    
    .container{
        width: 90%;
    }

}
// html, body { height: 100%; }
// body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

//animations
.overflow{
    overflow: hidden;
}

.text-bottom-to-top-all{
    animation: text_bottom_to_top 1.2s ease-in-out forwards;
    transform: translateY(50px);
}

.text-bottom-to-top-all-3500ms{
    animation: text_bottom_to_top 1.2s ease-in-out forwards 3.5s;
    transform: translateY(100px);
}

@keyframes text_bottom_to_top {to{
        transform: translateY(0);
    }
}

.fade-text{
    opacity: 0;
    animation: fade_text 1s ease-in-out forwards 0.5s;
}

@keyframes fade_text{
    to{
        opacity: 1;
    }
}
