  <header>
    <div class="container-menu">
        <nav>
          <ul class="scroll-menu">
              <li [routerLink]="['/home']" [routerLinkActive]="['active']" class="cursor-border">
                <a id="home-option">home</a>
                <svg width="46" height="50" viewBox="0 0 46 50" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <g clip-path="url(#clip0)">
                    <path d="M15.0397 29.806V20.552L22.8507 15.9407L30.8813 20.4892V29.7432L22.9134 34.3232L15.0397 29.806Z" fill="#FBF9EF"/>
                    <path d="M3 13.6436V37.0099L22.8812 48.4158M3 13.6436L22.7228 2L43 13.4851M3 13.6436L22.8812 24.9703M22.8812 48.4158L43 36.8515V13.4851M22.8812 48.4158V24.9703M43 13.4851L22.8812 24.9703" stroke="#D72E75" stroke-width="3"/>
                  </g>
                  <defs>
                    <clipPath id="clip0">
                      <rect width="45.4545" height="50" fill="white"/>
                    </clipPath>
                  </defs>
                </svg>
              </li>
              <li [routerLink]="['/work']" [routerLinkActive]="['active']" class="cursor-border">
                <a id="work-option">work</a>
                <svg width="46" height="50" viewBox="0 0 46 50" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <g clip-path="url(#clip0)">
                    <path d="M15.0397 29.806V20.552L22.8507 15.9407L30.8813 20.4892V29.7432L22.9134 34.3232L15.0397 29.806Z" fill="#FBF9EF"/>
                    <path d="M3 13.6436V37.0099L22.8812 48.4158M3 13.6436L22.7228 2L43 13.4851M3 13.6436L22.8812 24.9703M22.8812 48.4158L43 36.8515V13.4851M22.8812 48.4158V24.9703M43 13.4851L22.8812 24.9703" stroke="#D72E75" stroke-width="3"/>
                  </g>
                  <defs>
                    <clipPath id="clip0">
                      <rect width="45.4545" height="50" fill="white"/>
                    </clipPath>
                  </defs>
                </svg>
              </li>
              <li [routerLink]="['/about']" [routerLinkActive]="['active']" class="cursor-border">
                <a id="about-option">about</a>
                <svg width="46" height="50" viewBox="0 0 46 50" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <g clip-path="url(#clip0)">
                    <path d="M15.0397 29.806V20.552L22.8507 15.9407L30.8813 20.4892V29.7432L22.9134 34.3232L15.0397 29.806Z" fill="#FBF9EF"/>
                    <path d="M3 13.6436V37.0099L22.8812 48.4158M3 13.6436L22.7228 2L43 13.4851M3 13.6436L22.8812 24.9703M22.8812 48.4158L43 36.8515V13.4851M22.8812 48.4158V24.9703M43 13.4851L22.8812 24.9703" stroke="#D72E75" stroke-width="3"/>
                  </g>
                  <defs>
                    <clipPath id="clip0">
                      <rect width="45.4545" height="50" fill="white"/>
                    </clipPath>
                  </defs>
                </svg>
              </li>
              <li [routerLink]="['/skills']" [routerLinkActive]="['active']" class="cursor-border">
                <a id="skills-option">skills</a>
                <svg width="46" height="50" viewBox="0 0 46 50" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <g clip-path="url(#clip0)">
                    <path d="M15.0397 29.806V20.552L22.8507 15.9407L30.8813 20.4892V29.7432L22.9134 34.3232L15.0397 29.806Z" fill="#FBF9EF"/>
                    <path d="M3 13.6436V37.0099L22.8812 48.4158M3 13.6436L22.7228 2L43 13.4851M3 13.6436L22.8812 24.9703M22.8812 48.4158L43 36.8515V13.4851M22.8812 48.4158V24.9703M43 13.4851L22.8812 24.9703" stroke="#D72E75" stroke-width="3"/>
                  </g>
                  <defs>
                    <clipPath id="clip0">
                      <rect width="45.4545" height="50" fill="white"/>
                    </clipPath>
                  </defs>
                </svg>
              </li>
              <!-- <li [routerLink]="['/contact']" [routerLinkActive]="['active']" class="cursor-border">
                <a id="contact-option">contact</a>
                <svg width="46" height="50" viewBox="0 0 46 50" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <g clip-path="url(#clip0)">
                    <path d="M15.0397 29.806V20.552L22.8507 15.9407L30.8813 20.4892V29.7432L22.9134 34.3232L15.0397 29.806Z" fill="#FBF9EF"/>
                    <path d="M3 13.6436V37.0099L22.8812 48.4158M3 13.6436L22.7228 2L43 13.4851M3 13.6436L22.8812 24.9703M22.8812 48.4158L43 36.8515V13.4851M22.8812 48.4158V24.9703M43 13.4851L22.8812 24.9703" stroke="#D72E75" stroke-width="3"/>
                  </g>
                  <defs>
                    <clipPath id="clip0">
                      <rect width="45.4545" height="50" fill="white"/>
                    </clipPath>
                  </defs>
                </svg>
              </li> -->
            </ul>
        </nav>
    </div>
  </header>