@import "../../../assets/styles/imports";
@import "../../../assets/styles/variables";


@media screen and (min-width: 0px){

    .container-menu{
        z-index: 10;
        width: 100%;
        font-family: $WorkSans;
        font-weight: 400;
        position: fixed;
        top: 0;
        
        nav{
            margin-left: 50%;
            transform: translate(-50%);
            width: 100%;
            
            ul{
                padding-top: 20px;
                background: $background;
                display: flex;
                justify-content: space-around;
                list-style: none;
                
                li{
                    display: flex;
                    justify-content: center;
                    margin: 10px 0px;
                    overflow: hidden;
                    color: $white-opacity;
                    
                    
                    a{
                        display: inline-block;
                        font-size: 17px;
                        text-decoration: none;
                    }
                    #home-option{
                        transform: translateY(100px);
                        animation: show_text_option 1200ms ease-in-out forwards 500ms;    
                    }
                    #work-option{
                        transform: translateY(100px);
                        animation: show_text_option 1200ms ease-in-out forwards 700ms;
                    }
                    #about-option{
                        transform: translateY(100px);
                        animation: show_text_option 1200ms ease-in-out forwards 900ms;    
                    }
                    #skills-option{
                        transform: translateY(100px);
                        animation: show_text_option 1200ms ease-in-out forwards 1100ms;    
                    }
                    #contact-option{
                        transform: translateY(100px);
                        animation: show_text_option 1200ms ease-in-out forwards 1300ms;    
                    }
                    @keyframes show_text_option {
                        from{
                            transform: translateY(100px);
                        }
                        to{
                            transform: translateY(0%);
                        }
                    }
                    svg{
                        display: none;
                    }
                }
                .active{
                    animation: border 1s ease forwards 200ms;
                    color: $white;
                }
                .active:focus{
                    outline: none;
                }
                @keyframes border {
                    to{
                        padding-bottom: 10px;
                        border-bottom: 5px solid $pink;
                    }
                }
                .inactive{
                    animation: whitout_border 1.5s ease forwards 1s;
                }
                @keyframes whitout_border {
                    to{
                        border-bottom: 5px solid transparent;
                    }
                }
            }
        }
    }
}

@media (min-width: 1091px){

    header{
        
        .container-menu{
            width: 200px;
            position: fixed;

            nav{
                transform: none;
                margin-left: -20px;
    
                ul{
                    background: transparent;
                    list-style: none;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    margin-top: 50vh;
                    transform: translateY(-55%);
                    
                    
                    li{
                        padding: 15px;
                        transition: all 300ms;
                        margin: 20px 0px;
                        justify-content: center;
                        
                        a{
                            width: 27px;
                            height: 27px;
                            border-radius: 50%;
                            overflow: hidden;
                            border: 1px solid $white;
                            font-size: 20px;
                            text-decoration: none;
                            color: transparent;
                            transition: all 600ms;
                        }

                        svg{
                            margin-top: -12px;
                            display: block;
                            position: absolute;
                            opacity: 0;
                            transition: all 300ms;
                        }
                    }
                    li:hover{
                        a{
                            scale: 1.1;
                            transition: all 600ms;
                            text-shadow: 0px 0px 15px $pink;
                        }
                    }

                    .active{
                        animation: none;
                        
                        a{
                            font-size: 25px;
                            transition: all 300ms;
                            color: transparent;
                            width: 27px;
                            height: 27px;
                            border-radius: 0%;
                            overflow: hidden;
                            border: 1px solid transparent;
                        }
                        svg{
                            margin-left: 0px;
                            opacity: 1;
                            transition: all 300ms;
                        }
                    }
                    .active:hover{
                        a{
                            color: $white;
                            scale: 1;
                        }
                    }
                }
                ul:hover{
                    li{
                        a{
                            width: 100%;
                            height: 100%;
                            border-radius: 0%;
                            color: $white-opacity;
                            border: 1px solid transparent;
                            transition: all 300ms;
                        }
                        svg{
                            transform: rotateZ(90deg);
                            scale: 1.1;
                            margin-left: 170px;
                        }
                    }
                    .active{
                        a{
                            color: $white;
                        }
                    }
                }
            }
        }
    }
}